{% extends 'base.html.twig' %}

{% block title %}Tindoo - {{ 'pages.home'|trans }}{% endblock %}

{% block body %}
    <section class="d-flex w-100 h-100">
        <div class="w-25 h-100 sidebar-wrapper">
            {% include 'home/sidebar.html.twig' %}
        </div>
        <div class="w-75 h-100 swipe-wrapper">
            {% include 'home/swipe.html.twig' %}
        </div>
    </section>
{% endblock %}
