{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}

    <div class="error-container">
        <h1>Erreur {{ status_code }}</h1>
        <p>{{ status_text }}</p>
        <a href="{{ path('app_profile_index') }}" class="go-back">Retour à l'accueil</a>
    </div>
{% endblock %}