{% extends 'base.html.twig' %}

{% block title %}Internal Server Error{% endblock %}

{% block body %}

    <div class="error-container">
        <h1>500 - Internal Server Error</h1>
        <p>Something went wrong on our end. Please try again later.</p>
        <a href="{{ path('app_profile_index') }}" class="go-back">Return to Homepage</a>
    </div>
{% endblock %}